/* MEYER RESET (to fix issues with layout, etc.)
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */

body {
	font-family: 'Source Sans Pro', serif;
	line-height: 1.2;
}

h1 {
	font-size: 45px;
	color: #BB1111;
}

h2 {
	font-size: 30px;
	color: #BB1111;
	line-height: 1.5em;
}

h3 {
	font-size: 18px;
	color: #BB6622;
	line-height: 1.5em;
	text-transform: uppercase;
}


#container {
	width: 800px;
	margin: 0 auto;
	margin-top: 10px;
}
#headercontainer {
	width: 100%;
	height: 60px;

}

#header {
	font-family: 'Comfortaa', cursive;
	text-transform: uppercase;
	float: left;
}

#header h2 {
	vertical-align: middle;
}

#linklist {
	float: right;
	list-style-type: none;
	font-family: 'Source Sans Pro', serif;
	
	font-size: 16px;
	line-height: 40px;
}

#linklist li {
	display: inline-block;
	padding: 0px 10px;
	vertical-align: middle;

}

#linklist a {
	text-decoration: none;
	color: gray;
	text-transform: uppercase;
}

#linklist a:hover {
	text-decoration: underline;
	color: #BB1111;
}

#hero {
	width: 100%;
	height: 340px;
	font-size: 28px;
	overflow: hidden;
}

#hero p {
	padding: 5px 0px 0px 0px;
	margin-left: 20px;

}

.accented {
	font-style: italic;
	color: #BB6622;
	padding: 0px;
}

.cta {
	color: white;
	font-size: 28px;
	background-color: #BB6622;
	text-align: center;
	float: left;
	width: 340px;
	padding: 15px 10px;
	margin: 15px 0px;
	border-radius: 8px;

}

.cta:hover {
	background-color: #D28F36;
	cursor: pointer;
}

.emailsignup {
	font-size: 16px;
}

input {
	border: 1px solid #BB1111;
	height: 20px;
	font-size: 14px;
}

.fname {
	width: 175px;
	margin: 2px 5px 0px 0px;
}

.lname {
	width: 205px;
	display: inline;
	margin: 2px 0px 0px 0px;
	clear: right;
}

.email {
	width: 315px;
	margin: 2px 0px 5px 0px;
}

.inputname {
	font-size: 12px;
}

textarea:focus, input:focus {
outline: none;
border: 1px dashed #BB6622;
}

.button {
	background-color: #BB6622;
	width: 70px;
	height: 25px;
	text-align: center;
	font-size: 14px;
	color: white;
	border: none;
	display: inline-block;
	margin-left: 5px;
}

.button:hover {
	background-color: #DDAA66;
}

.floatleft {
	float: left;
}

#why {
	width: 100%;
	height: 280px;
}

#why h3 {
	line-height: 1.5em;
}

.reasoncontainer {
	width: 100%;
	padding: 10px;
}

.reason {
	width: 250px;
	padding-right: 20px;
	display: inline-block;
	height: 100%;
	font-size: 18px;
	vertical-align: top;
	font-size: 18px;
}

.reasonlast {
	padding-right: 0px;

}

.floatright {
	float: right;
	padding-left: 10px;
}

.centered {
	text-align: center;
}

#how {
	width: 100%;
	height: 450px;
	font-size: 20px;
}

#how ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
}

#how li {
  padding-left: 1em;
  text-indent: -1em;
  padding-bottom: 10px;
  font-size: 22px;
}

#how li:before {
  content: ">>";
  padding-right: 5px;
  font-size: 20px;
}

#how p {
	padding: 5px 0px;
}

#signup2 {
	height: 175px;
	margin: 0 auto;
	width: 400px;
}

.cta2 {
	color: white;
	font-size: 28px;
	background-color: #BB6622;
	text-align: center;
	float: left;
	width: 340px;
	padding: 20px 15px;
	margin: 20px 0px;
	border-radius: 8px;
	margin: 0 auto;


}

.cta2:hover {
	background-color: #D28F36;
	cursor: pointer;
}

#emailsignup2 {
	font-size: 16px;
}

input {
	border: 1px solid #BB1111;
	height: 20px;
	font-size: 14px;
}

.fname2 {
	width: 175px;
	margin: 2px 5px 0px 0px;
}

.lname2 {
	width: 205px;
	display: inline;
	margin: 2px 0px 0px 0px;
	clear: right;
}

.email2 {
	width: 315px;
	margin: 2px 0px 5px 0px;
}

.inputname2 {
	font-size: 12px;
}

.button2 {
	background-color: #BB6622;
	width: 70px;
	height: 25px;
	text-align: center;
	font-size: 14px;
	color: white;
	border: none;
	display: inline-block;
	margin-left: 5px;
}

.button2:hover {
	background-color: #DDAA66;
}
